<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.authentication.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.register.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebtorServlet</servlet-name>
        <servlet-class>controller.debtor.DebtorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>controller.register.CaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDebtorServlet</servlet-name>
        <servlet-class>controller.debtor.AddDebtorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPwdServlet</servlet-name>
        <servlet-class>controller.authentication.ForgetPwdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.authentication.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDebtServlet</servlet-name>
        <servlet-class>controller.debt.AddDebtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangepwdServlet</servlet-name>
        <servlet-class>controller.authentication.ChangepwdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>controller.register.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebtorPagingServlet</servlet-name>
        <servlet-class>controller.debtor.DebtorPagingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDebtorServlet</servlet-name>
        <servlet-class>controller.debtor.EditDebtorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebtServlet</servlet-name>
        <servlet-class>controller.debt.DebtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterDebtServlet</servlet-name>
        <servlet-class>controller.debt.FilterDebtServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebtorServlet</servlet-name>
        <url-pattern>/debtor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDebtServlet</servlet-name>
        <url-pattern>/insertdebt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangepwdServlet</servlet-name>
        <url-pattern>/user/changepwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDebtorServlet</servlet-name>
        <url-pattern>/add-debtor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/user/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPwdServlet</servlet-name>
        <url-pattern>/user/forget-pwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebtorPagingServlet</servlet-name>
        <url-pattern>/debtor-paging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDebtorServlet</servlet-name>
        <url-pattern>/edit-debtor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebtServlet</servlet-name>
        <url-pattern>/debt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/user/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterDebtServlet</servlet-name>
        <url-pattern>/filter-debt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
